@import url('../global/variables.scss');

.footer-wrap {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  padding: 0 3%;
  background-color: $purple;
    p {
      @include reg;
      color: $light-white;
    }
  a {
    @include link;
  }
}

