@import url('../global/variables.scss');

.dws-wrapper {
  display: flex;
  justify-content: top;
}

ul.accordion{
  display: flex;
  justify-content: center;
  padding: 0;
  width: inherit;
  height: inherit;
  max-width: 100%;
  background: #fff;
}

ul.accordion li {
  float:left;
  width: 265px;
  overflow: hidden;
}

//ul.accordion li a {
//  display: none;
//  width:50px;
//  height:42px;
//  background-color: green;
//  position: absolute;
//  &:hover {
//    display: block;
//  }
//}

ul.accordion li:nth-child(1) {
  width: 420px;
  overflow: hidden;
}

ul.accordion img{
  width: 495px;
  height: 329px;
  opacity: 0.5;
    a {

    }
}

ul.accordion li:nth-child(1) img {
  opacity: 1;
}

.accordion h4 {
  margin: 20px 5px;
}

ul.accordion img:hover {
  opacity: 1;
  transition: 1s ease-out 0.5s;
}

ul.accordion li{
  width: 220px;
  overflow: hidden;
  padding: 1px 1px 0;
  cursor:pointer;
  display:block;
  transition: all 1.5s;
}

ul.accordion li:hover{
  width: 70%;
  //box-shadow:1px 5px 15px $green;
  transition: all 1s;
}

.accordion-button {
    display: none;
}

.accordion-button--active {
  a {
    display: block;
    @include button-purple;
    line-height: 45px;
    text-align: center;
    margin: 80px 0;
  }
}





//.accordion-item img:nth-child(1) {
//  mask: url('../img/slide1.jpg');
//}
//
//.accordion-item img:nth-child(2) {
//  mask: url('../img/slide2.jpg');
//}
//
//.accordion-item img:nth-child(3) {
//  mask: url('../img/slide3.jpg');
//}
//
//.accordion-item img:nth-child(4) {
//  mask: url('../img/slide4.jpg');
//}
//
//.accordion-item img:nth-child(5) {
//  mask: url('../img/slide5.jpg');
//}





//ul.accordion li:nth-child(1){
//  width: 280px;
//}
//
//ul.accordion:hover li:nth-child(1){
//  width: 100%;
//}

//ul.accordion li:nth-child(4):hover{
//  width:300px;
//}

