<section class="choose">
    <div class="choose_container">
        <div class="choose_matresse">
            <h2>
                Соберите свой матрас <br>
                или выберите уже готовый <br>
                вариант
            </h2>

            <div class="button_wrap">
                <button class="adult">Взрослые</button>
                <button class="child">Детские</button>
            </div>


            <div class="choose-block_wrap">
                <div class="choose_matresse-block">
                    <img src="img/matresse.svg" alt="matresse">
                    <p>Матрас ортопедический <br>
                        эластичный жесткий <br>
                        комбинированный</p>

                    <button class="button-white">Заказать</button>
                </div>

                <div class="choose_matresse-block">
                    <img src="img/matresse.svg" alt="matresse">
                    <p>Матрас ортопедический <br>
                        эластичный жесткий <br>
                        комбинированный</p>

                    <button class="button-white">Заказать</button>
                </div>

                <div class="choose_matresse-block">
                    <img src="img/matresse.svg" alt="matresse">
                    <p>Матрас ортопедический <br>
                        эластичный жесткий <br>
                        комбинированный</p>
                    <button class="button-white">Заказать</button>
                </div>


            </div>
        </div>

        <div class="calculate">
            <div class="calculate_wrap">
                <h2>Калькулятор</h2>
                <div class="button_wrap">
                    <button class="adult">Взрослые</button>
                    <button class="child">Детские</button>
                </div>

                <div class="form_wrap">

                    <p>Степень жесткости</p>

                    <select name="kind" id="mySelect" onchange="select()">

                        <option value="">Мягкий</option>
                        <option value="">Средний</option>
                        <option value="">Жесткий</option>
                    </select>


                    <p>Размеры</p>
                    <div class="select_wrap">
                        <select name="" id="mySelect" onchange="select()">
                            <option value="">140см</option>
                            <option value="">160см</option>
                            <option value="">180см</option>
                        </select>


                        <select name="" id="mySelect" onchange="select()">
                            <option value="">140см</option>
                            <option value="">160см</option>
                            <option value="">180см</option>
                        </select>


                        <select name="" id="mySelect" onchange="select()">
                            <option value="">140см</option>
                            <option value="">160см</option>
                            <option value="">180см</option>
                        </select>

                        <p>Чехол</p>
                        <div class="radio_wrap">
                            <div class="radio_inner">

                                <input type="radio" id="featured-1" name="featured" checked>
                                <label for="featured-1"></label>
                                <span>Обычный</span>

                                <input type="radio" id="featured-2" name="featured" checked>
                                <label for="featured-1"></label>
                                <span>Цветной<br> трикотаж</span>

                                <input type="radio" id="featured-3" name="featured" checked>
                                <label for="featured-1"></label>
                                <span>Велюр<br> дорогой</span>
                            </div>


                            <p>Внутреннее содержимое</p>
                            <div class="radio_inner">

                                <input type="radio" id="featured-4" name="featured" checked>
                                <label for="featured-1"></label>
                                <span>Ноу-хау  наполнение</span>

                                <input type="radio" id="featured-5" name="featured" checked>
                                <label for="featured-1"></label>
                                <span>Блок независимых  пружин</span>

                                <input type="radio" id="featured-6" name="featured" checked>
                                <label for="featured-1"></label>
                                <span>Беспружинный блок</span>
                            </div>

                            <button class="button-white">Заказать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>

<section class="why">
    <div class="why_container">
        <h2>Почему матрасы от “Травушки” <br>
            это выгодная покупка?</h2>

        <div class="why_blocks_wrap">

            <div class="why_block">
                <div class="icons"><img src="img/Shape2.svg" alt="">
                    <h2>10 лет <br>
                        гарантия</h2>
                    <p>На внутреннее <br>
                        содержание матрасов.</p>
                </div>
                <div class="icons"><img src="img/Shape3.svg" alt="">
                    <h2>11 лет опыта <br>
                        и знаний</h2>
                    <p>Воплощены в одной линейке <br>
                        ортопедических матрасов.</p>
                </div>
                <div class="icons"><img src="img/Shape4.svg" alt="">
                    <h2>8 лет <br>
                        работы</h2>
                    <p>Только с госзаказами для <br>
                        медучереждений по их <br>
                        особым требованиям.</p>
                </div>
            </div>


            <div class="why_block">
                <div class="icons"><img src="img/Shape5.svg" alt="">
                    <h2>бесплатная <br>
                        доставка</h2>
                    <p>По Санкт-Петербургу.</p>
                </div>
                <div class="icons"><img src="img/Shape6.svg" alt="">
                    <h2>возвращаем <br>
                        деньги</h2>
                    <p>Если матрас вам не понравился <br>
                        или оказался неудобным.</p>
                </div>
                <div class="icons"><img src="img/Shape7.svg" alt="">
                    <h2>Решаем проблемы <br>
                        напрямую</h2>
                    <p>Если возникли какие-либо проблемы <br>
                        или вы хотите оформить возврат, вам не надо <br>
                        ничего писать и ожидать ответа. Просто <br>
                        приезжайте к нам и мы решим любые проблемы, <br>
                        связанные с нашими матрасами.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why why_mobile">
    <div id="why_we" class="owl-carousel owl-theme loop">
        <!--<div>-->
        <!--<div class="slide_container">-->
        <!--<div class="why_container">-->
        <!--<h2>Почему матрасы от “Травушки” <br>-->
        <!--это выгодная покупка?</h2>-->

        <!--<div class="why_blocks_wrap">-->
        <div class="slide item">
            <div class="why_block">
                <div class="icons"><img src="img/Shape2.svg" alt="">
                    <h2>10 лет <br>
                        гарантия</h2>
                    <p>На внутреннее <br>
                        содержание матрасов.</p>
                </div>
                <div class="icons"><img src="img/Shape3.svg" alt="">
                    <h2>11 лет опыта <br>
                        и знаний</h2>
                    <p>Воплощены в одной линейке <br>
                        ортопедических матрасов.</p>
                </div>
            </div>
        </div>


        <div class="slide item">
            <div class="why_block">
                <div class="icons"><img src="img/Shape4.svg" alt="">
                    <h2>8 лет <br>
                        работы</h2>
                    <p>Только с госзаказами для <br>
                        медучереждений по их <br>
                        особым требованиям.</p>
                </div>

                <div class="icons"><img src="img/Shape5.svg" alt="">
                    <h2>бесплатная <br>
                        доставка</h2>
                    <p>По Санкт-Петербургу.</p>
                </div>
            </div>
        </div>


        <div class="slide item">
            <div class="why_block">
                <div class="icons"><img src="img/Shape6.svg" alt="">
                    <h2>возвращаем <br>
                        деньги</h2>
                    <p>Если матрас вам не понравился <br>
                        или оказался неудобным.</p>
                </div>
                <div class="icons"><img src="img/Shape7.svg" alt="">
                    <h2>Решаем проблемы <br>
                        напрямую</h2>
                    <p>Если возникли какие-либо проблемы <br>
                        или вы хотите оформить возврат, вам не надо <br>
                        ничего писать и ожидать ответа. Просто <br>
                        приезжайте к нам и мы решим любые проблемы, <br>
                        связанные с нашими матрасами.</p>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</section>

<section class="know-how">
    <div class="know-how_rentganel">
        <img src="img/rentganel.svg" class="rentganel" alt="rentganel">
        <p class="rentganel-text">
            Матрасы “Травушка” <br>
            это инновации, <br>
            создающие комфорт
        </p>
    </div>
    <div class="container">
        <h2><span>Ноу-хау: <br></span>
            Цельнокаркасный <br>
            матрас <br>
        </h2>


        <div class="know-how_icon-wrap">
            <div class="know-how_inner">
                <img src="img/Shape1.svg" alt="">
                <p>Обеспечивает удобство</p>
            </div>
            <div class="know-how_inner">
                <img src="img/Shape1.svg" alt="">
                <p>Гарантирует долговечность</p>
            </div>
            <div class="know-how_inner">
                <img src="img/Shape1.svg" alt="">
                <p>Одобрен экспертами</p>
            </div>
        </div>


        <a href="#" class="link">Просмотреть сертификат</a>
    </div>
</section>

<section class="fake_map">
    <div class="fake_map_wrap">
        <div class="green_block">
            <div class="green_block_text">
                <h2>Доставка</h2>
                <p>Доставка по Санкт-Петербургу</p>
                <h3>Безплатно</h3>
                <p>Доставка по ЛО</p>
                <h3>20 руб/км</h3>
                <h2>Оплата </h2>
                <p>Вы можете оплатить ваш матрас на сайте, <br>
                     внеся предоплату или оплатив полностью. </p>
                <button class="button button-green">Перейти к оплате</button>
            </div>
        </div>

        <div class="first_map">
            <img src="img/map.png" alt="map">
        </div>

    </div>


</section>

<section class="pink">
    <div class="container">
        <div class="pink_wrap">
            <div class="column">
                <h2>возможно вы думаете,  что...</h2>
                <h3>хороший=дорогой</h3>

                <p>На самом деле цена сильно зависит от бренда. Однако это не <br>
                     значит, что дешевый матрас окажется так же хорош. Нередко  <br>
                    их производят из материалов низкого качества.  </p>

                <p>Мы предлагаем беспроигрышный вариант: качество <br>
                     по умеренной цене.</p>

                <h3><span>Необычный</span> матрас является целебным <br></h3>
                <p>Матрасы с частичками серебра, матрасы с добавками минералов <br>
                    - все это пустой маркетинг. Лечебные свойства таких матрасов <br>
                     сомнительны, если вообще существуют.   <br></p>
                <p>
                    С другой стороны, сон на ортопедическом матрасе благотворно <br>
                     влияет на общее состояние здоровья человека и на качество сна. <br>
                     Это подтверждено множеством исследований.
                </p>
            </div>

            <div class="column">
                <h2>вы, конечно,  можете...</h2>
                <h3>Купить более <span> дорогой/ <br>  дешевый</span> матрас</h3>

                <p>В первом случае вы зря переплатите. Можно получить лучшее <br>
                     качество за меньшие деньги</p>

                <p>  Во втором случае вы потратитесь дважды. Дешевый матрас быстро <br>
                     придет в негодность, и вы будете вынуждены поменять его.</p>

                <h3><span>спать</span> на диване <br>  или раскладушке</h3>

                <p>Зачем страдать? Пора получать от сна удовольствие! <br></p>
                <p>Вам даже не придется мучиться выбором. Ортопедические <br>
                     матрасы “Травушка” универсальны и подойдут каждому. <br></p>

                <button class="button button-green">заказать матрас</button>

            </div>
        </div>
    </div>

</section>


<section class="slider_img">
    <div class="container">
        <h2>Помимо матрасов  <br>
            мы производим 
        </h2>
        <div class="dws-wrapper">
            <ul class="accordion">
                <li><img src="img/slide1.jpg" alt=""><h4>Подушки</h4></li>
                <li><img src="img/slide2.jpg" alt=""><h4>покрывала</h4></li>
                <li><img src="img/slide3.jpg" alt=""><h4>одеяла</h4></li>
                <li><img src="img/slide4.jpg" alt=""><h4>постельное <br>  белье</h4></li>
                <li><img src="img/slide5.jpg" alt=""><h4>детские<br>спальные<br>комплекты </h4></li>

            </ul>
        </div>
        <button class="button button-green hide_me">узнать больше</button>

        <div class="slider_img-mobile">
            <div class="pic" style="background-image:url(../img/slide1.jpg)">
                <div class="content_wrap">
                    <h4>Подушки</h4>
                    <button class="button button-green">узнать больше</button>
                </div>
            </div>
            <div class="pic" style="background-image:url(../img/slide2.jpg)">
                <div class="content_wrap">
                    <h4>покрывала</h4>
                    <button class="button button-green">узнать больше</button>
                </div>
            </div>
            <div class="pic" style="background-image:url(../img/slide3.jpg)">
                <div class="content_wrap">
                    <h4>одеяла</h4>
                    <button class="button button-green">узнать больше</button>
                </div>
            </div>
            <div class="pic" style="background-image:url(../img/slide4.jpg)">
                <div class="content_wrap">
                    <h4>постельное  белье</h4>
                    <button class="button button-green">узнать больше</button>
                </div>
            </div>
            <div class="pic" style="background-image:url(../img/slide5.jpg)">
                <div class="content_wrap">
                    <h4>детские спальные комплекты </h4>
                    <button class="button button-green">узнать больше</button>
                </div>
            </div>

        </div>
</section>

<section class="feedback">
    <div class="feedback_container">
        <div class="feedback_contacts">
            <div class="feedback_text">
                <h2>Контакты</h2>
                <p>Телефон: </p>

                <h3>+7 (812) 346-59-75</h3>

                <p>Почта: </p>
                <h3>arevik_vk@inbox.ru</h3>

                <p>Адрес: </p>
                <h3>СПб, Богатырский пр., <br>
                     д. 18 корп. 2, лит. Б <br>
                     офис № 307 и № 309 <br>  
                    (4этаж)</h3>

            </div>
        </div>
    </div>
    <div class="feedback_inner">
        <div class="feedback_inner-container">
            <h2>Обратная связь</h2>

            <p>Если у вас есть вопросы, заполните форму ниже, <br>
                 мы ответим вам в ближайшее время
            </p>

            <div class="input-wrap">
                <input type="text" name="name" placeholder="Имя">
                <input type="tel" name="phone" placeholder="Номер">
            </div>
            <textarea>Ваш вопрос</textarea>
            <button class="button button-green">отправить</button>
        </div>
    </div>



</section>


<div id="map"></div>

<script>
    function initMap() {
        var options = {
            zoom: 15,
            center: {lat: 59.933079, lng: 30.272973},
            styles: [{
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{"color": "#e9e9e9"}, {"lightness": 17}]
            }, {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [{"color": "#f5f5f5"}, {"lightness": 20}]
            }, {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#ffffff"}, {"lightness": 17}]
            }, {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [{"color": "#ffffff"}, {"lightness": 29}, {"weight": 0.2}]
            }, {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [{"color": "#ffffff"}, {"lightness": 18}]
            }, {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [{"color": "#ffffff"}, {"lightness": 16}]
            }, {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [{"color": "#f5f5f5"}, {"lightness": 21}]
            }, {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [{"color": "#dedede"}, {"lightness": 21}]
            }, {
                "elementType": "labels.text.stroke",
                "stylers": [{"visibility": "on"}, {"color": "#ffffff"}, {"lightness": 16}]
            }, {
                "elementType": "labels.text.fill",
                "stylers": [{"saturation": 36}, {"color": "#333333"}, {"lightness": 40}]
            }, {"elementType": "labels.icon", "stylers": [{"visibility": "off"}]}, {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [{"color": "#f2f2f2"}, {"lightness": 19}]
            }, {
                "featureType": "administrative",
                "elementType": "geometry.fill",
                "stylers": [{"color": "#fefefe"}, {"lightness": 20}]
            }, {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [{"color": "#fefefe"}, {"lightness": 17}, {"weight": 1.2}]
            }]
        };


        var map = new
        google.maps.Map(document.getElementById('map'), options);


        var marker = new google.maps.Marker({
            position: {lat: 59.933076, lng: 30.272973},
            map: map,
            icon: src = 'img/pointer.png'
        });
    }

    //    $('.gm-style-mtc').css('display', 'none');
    //    $('.gm-svpc').css('display', 'none');
</script>
</div>
</div>