<header class="main-header">
    <div class="menu">
        <div class="menu_inner">
            <img src="img/logo.svg"alt="">
            <div class="list">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Оплата и доставка</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>

            <div class="contacts">
                <a href="tel: +7(678)456-78-67">+7(678)456-78-67</a>
                <button class="button-green"><span>Перезвоните мне</span></button>
            </div>


            <div class="mobile__menu">
                <ul id="menu_bar">
                    <li><a href="index.php" class="bread__crunches">Главная</a></li>
                    <li><a href="service.php" class="bread__crunches">Каталог</a></li>
                    <li><a href="price.php" class="bread__crunches">О нас</a></li>
                    <li><a href="blog.php" class="bread__crunches">Оплата и доставка</a></li>
                    <li><a href="news.php" class="bread__crunches">Контакты</a></li>
                    <li><a href="tel: +7(678)456-78-67">+7(678)456-78-67</a></li>
                    <li>
                        <button class="button-green">Перезвоните мне</button>
                    </li>


                </ul>
                <div class="bar">
                    <a href="#" id="baar"><img src="img/menu.svg" width="30px" height="30px" alt=""></a>
                </div>
            </div>
        </div>
    </div>




    <div class="container">
        <div class="header_content">
            <h1>Ортопедические матрасы <br>
                <span>от 15 000 руб</span> от производителя <br>
                с доставкой уже послезавтра <br>
                и гарантией <span>10 лет*</span></h1>

            <p>Мы производим матрасы под индивидуальные <br>
                требования каждого клиента.</p>

            <div class="header_text-btn">
                <p>Оставьте заявку и мы подберем <br>
                    подходящую для вас комплектацию <br>
                    матраса.</p>
                <button class="button button-green">Оставить заявку</button>
            </div>

            <!--<pre>*Гарантия распространяется только на внутреннее содержимое матрасов </pre>-->

        </div>
    </div>


</header>