<div id="overlay"></div>
<div class="popup">
    <div class="popup-container">
        <!--<a href="#"><img src="img/close.svg" id="close" width="15px" height="15px" alt="close"></a>-->
        <h2>Свяжитесь с нами</h2>
        <p> Оставьте свои данные в форме ниже и мы вам позвоним.</p>

        <div class="inputs">
            <input type="text" class="input_time-name input_small" formmethod="post" name="name"
                   placeholder="Имя">
            <input type="tel" class="input_time-number input_small" formmethod="post"
                   name="phone"
                   placeholder="Введите свой номер">
        </div>
        <button formmethod="post" name="" id="close" class="popup_button">оставить заявку</button>
    </div>
</div>
