<div id="overlay"></div>
<div class="popup-accordion">
    <div class="popup__container">
        <a href="#"><img src="img/close-white.svg" id="close" class="close-white" width="15" height="15"
                         alt="close"></a>
        <h2>Хотите больше узнать о прочей продукции?</h2>
        <p>Оставьте заявку и мы с удовольствием познакомим вас с ней</p>

        <form id="form__popup-accordion">
            <div class="form-wrap">
                <input type="text" class="input_time-name input_small" formmethod="post" name="name"
                       placeholder="Имя" required /><br />
                <input type="tel" class="input_time-number input_small" formmethod="post"
                       name="phone"
                       placeholder="Введите свой номер" required /><br />
            </div>
            <button formmethod="post" name="" class="popup__button">оставить заявку</button>

        </form>
    </div>
</div>