<section class="why why_mobile">
    <div id="why_we" class="owl-carousel owl-theme loop">
        <div class="slide item">
            <div class="why_block">
                <div class="icons"><img src="img/Shape2.svg" alt="">
                    <h2>10 лет <br>
                        гарантия</h2>
                    <p>На внутреннее <br>
                        содержание матрасов.</p>
                </div>
                <div class="icons"><img src="img/Shape3.svg" alt="">
                    <h2>11 лет опыта <br>
                        и знаний</h2>
                    <p>Воплощены в одной линейке <br>
                        ортопедических матрасов.</p>
                </div>
            </div>
        </div>


        <div class="slide item">
            <div class="why_block">
                <div class="icons"><img src="img/Shape4.svg" alt="">
                    <h2>8 лет <br>
                        работы</h2>
                    <p>Только с госзаказами для <br>
                        медучереждений по их <br>
                        особым требованиям.</p>
                </div>

                <div class="icons"><img src="img/Shape5.svg" alt="">
                    <h2>бесплатная <br>
                        доставка</h2>
                    <p>По Санкт-Петербургу.</p>
                </div>
            </div>
        </div>


        <div class="slide item">
            <div class="why_block">
                <div class="icons"><img src="img/Shape6.svg" alt="">
                    <h2>возвращаем <br>
                        деньги</h2>
                    <p>Если матрас вам не понравился <br>
                        или оказался неудобным.</p>
                </div>
                <div class="icons"><img src="img/Shape7.svg" alt="">
                    <h2>Решаем проблемы <br>
                        напрямую</h2>
                    <p>Если возникли какие-либо проблемы <br>
                        или вы хотите оформить возврат, вам не надо <br>
                        ничего писать и ожидать ответа. Просто <br>
                        приезжайте к нам и мы решим любые проблемы, <br>
                        связанные с нашими матрасами.</p>
                </div>
            </div>
        </div>
    </div>
</section>