<section class="slider-img">
    <a name="catalog"></a>
    <div class="container container__slider wow fadeInUp">
        <h2>Помимо матрасов  <br>
            мы производим 
        </h2>
        <div class="dws-wrapper">
            <ul class="accordion">
                <li class="accordion-item"><img src="img/slide1-original.jpg" alt=""><h4>Подушки</h4> <a
                        class="button accordion-button accordion-button--active">Узнать больше</a></li>
                <li class="accordion-item"><img src="img/slide2-original.jpg" alt=""><h4>покрывала</h4> <a
                        class="button accordion-button">Узнать больше</a></li>
                <li class="accordion-item"><img src="img/slide3-original.jpg" alt=""><h4>одеяла</h4> <a
                        class="button accordion-button">Узнать больше</a></li>
                <li class="accordion-item"><img src="img/slide4-original.jpg" alt=""><h4>постельное <br>  белье</h4>
                    <a class="button accordion-button">Узнать больше</a></li>
                <li class="accordion-item"><img src="img/slide5-original.jpg" alt=""><h4>детские<br>спальные<br>комплекты 
                </h4> <a class="button accordion-button">Узнать больше</a></li>
            </ul>
        </div>

        <div class="slider-img__mobile">
            <div class="pic" style="background-image:url(img/slide1.jpg)">
                <div class="content_wrap">
                    <h2>Подушки</h2>
                    <button class="button button-green slider__button-green">узнать больше</button>
                </div>
            </div>
            <div class="pic" style="background-image:url(img/slide2.jpg)">
                <div class="content_wrap">
                    <h2>покрывала</h2>
                    <button class="button button-green slider__button-green ">узнать больше</button>
                </div>
            </div>
            <div class="pic" style="background-image:url(img/slide3.jpg)">
                <div class="content_wrap">
                    <h2>одеяла</h2>
                    <button class="button button-green slider__button-green">узнать больше</button>
                </div>
            </div>
            <div class="pic" style="background-image:url(img/slide4.jpg)">
                <div class="content_wrap">
                    <h2>постельное  белье</h2>
                    <button class="button button-green slider__button-green">узнать больше</button>
                </div>
            </div>
            <div class="pic" style="background-image:url(img/slide5.jpg)">
                <div class="content_wrap">
                    <h2>детские комплекты </h2>
                    <button class="button button-green slider__button-green">узнать больше</button>
                </div>
            </div>
        </div>
    </div>
</section>