@import url('global/normalize.scss');
@import url('global/fonts.scss');
@import url('global/variables.scss');
@import url('blocks/header.scss');
@import url('blocks/slider_img.scss');
@import url('blocks/footer.scss');

//@import url('blocks/blocks.scss');

:root {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#preloader {
  background: $green url('../img/preloader.gif') no-repeat center center;
  overflow: visible;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.hero {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.header__content {
  h1 {
    @include h1;
    margin-top: 106px;
    //margin-top: 136px;
    margin-bottom: 45px;
    color: $dark-gray;
  }
  p {
    @include reg;
    font-size: 18px;
    margin-bottom: 86px;
  }
  span {
    @include h1;
    color: $green;
  }
}

span.header__content--feature {
  @include reg;
  text-transform: none;
  display: block;
  padding-bottom: 30px;
  //margin-top: 200px;
}

.header__btn {
  display: flex;
  width: 50%;
  justify-content: space-between;
  p {
    @include reg;
    margin-bottom: 90px;
    margin-top: 0;
  }

  .button-green {
    @include button-green;
  }
  pre {
    font-family: GothamPro, sans-serif;
    color: #666666;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 20px !important;
  }
}

#overlay {
  display: none;
  min-height: 100vh;
  margin: 0 auto;
  position: fixed;
  background-color: $purple;
  opacity: .8;
  -moz-opacity: .8;
  filter: alpha(opacity=80);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3
}

.popup, .popup-payment, .popup-accordion {
  display: none;
  position: fixed;
  z-index: 4;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  -webkit-box-shadow: 0 6px 21px 0 rgba(59, 59, 59, .1);
  box-shadow: 0 6px 21px 0 rgba(59, 59, 59, .1);
  &__button {
    @include button-green;
    //margin: 30px 0;
    margin-top: 20px;
    align-self: center;
  }
}

.popup-certificate {
  display: none;
  position: fixed;
  z-index: 4;
  opacity: .8;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
      img {
        width: 200px;
      }
}

img#close-certificate {
  top: -8%;
  right: -57%;
  position: absolute;
  cursor: pointer;
}

.popup__container {
  padding: 5%;
  width: 90%;
  height: inherit;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  h2 {
    @include h2;
    text-align: center;
    margin-top: 20px;
  }
  p {
    @include reg;
    text-align: center;
    margin-top: 30px;
    padding: 0 1%;
  }
}

.popup-payment {
  .popup__container {
    //padding: 2% 5% 1% 5%;
    height: 100%;
  }
  .inputs-wrap {
    display: flex;
    flex-direction: column;
  }

  //антистрелки в input number

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    width: 100%;
    margin-bottom: 20px;
    height: 42px;
    border: 1px solid #dedede;
    outline: 0;
    max-width: 240px;
    padding-left: 14px;
    background-color: transparent;
  }
  button {
    width: 256px;
  }
}

.mobile__menu {
  margin-right: 2%;
  button {
    @include button-green;
  }
}

#menu_bar {
  display: none;
  background-color: #fff;
  opacity: .97;
  right: 0;
  top: 65px;
  width: 100vw;
  position: absolute;
  z-index: 1;
  padding-top: 20px;
  font-size: 20px;
  height: 100vh;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mobile__menu ul li {
  text-align: right;
  margin-right: 12%;
  list-style-type: none;
}

#menu_bar a {
  text-decoration: none;
  line-height: 42px;
  text-transform: uppercase;
  @include reg;
}

.inputs-wrap {
  justify-content: space-evenly;
  display: flex;
}

.inputs {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.choose {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  h2 {
    @include h2;
    margin-top: 61px;
    margin-bottom: 42px;
  }
}

.choose__container {
  display: flex;
  width: 100%;
  h2 {
    margin-top: 41px;
    margin-bottom: 32px;
    margin-left: 14%;
  }
}

.choose__matress {
  width: 70%;
  position: relative;
  //margin-left: 10%;
  //margin-right: 8%;
}

.matress-wrap {
  margin: 0 auto;
  width: 72%;
}

.choose__block-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;

  z-index: -1;
  opacity: 0;
  top: 0;
  position: absolute;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.choose__blocks {
  position: relative;
  margin: 124px 0;
}

.choose__block-wrap_active {
  position: relative;
  z-index: auto;
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.choose__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1%;

  p {
    @include reg;
    margin-top: 20px;
  }
  a {
    @include button-white;
    margin: 20px 0;
    line-height: 45px;
    text-decoration: none;
  }
}

.button-wrap {
  display: flex;
  justify-content: start;
  height: 48px;
  align-items: center;
}

.button-toggle {
  width: 141px;
  height: 39px;
  cursor: pointer;
}

.choose__button--adult {
  border-radius: 9px 0 0 9px;
  border: 1px solid #e6e6e6;
  background-image: linear-gradient(to top, #e5e5e5 0%, #ffffff 100%);
  @include reg;
  color: $green;
}

.choose__button--child {
  border-radius: 0 9px 9px 0;
  border: 1px solid #e6e6e6;
  background-image: linear-gradient(to top, #e5e5e5 0%, #ffffff 100%);
  @include reg;
  color: $green;
  //&:checked {
  //  background-color: $green;
  //}
}

.choose__popup, .choose__popup--mobile {
  display: none;
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  height: inherit;

  .main-picture {
    width: 60%;
    display: block;
    margin-top: 20px;
  }

  p {
    @include reg;
  }

  span {
    color: #999999;
    margin: 10px 0;
    display: block;
  }
  .sum {
    font-family: 'MADEWaffleSoft';
    color: #91bd77;
    font-size: 21px;
  }
  input {
    @include reg;
    width: 50px;
    color: $green;
    font-size: 18px;
  }
}

#close-mobile {
  right: 0;
  position: absolute;
}

.close {
  color: #000;
  position: absolute;
  right: 33%;
  top: -5;
  &:hover {
    cursor: pointer;
  }
}

.close-white {
  position: absolute;
  right: -3%;
  top: -6%;
}

.container__popup {
  margin: 0 auto;
  width: 90%;
  background: #fff;
  position: relative;
  h2 {
    margin-bottom: 10px;
    color: #3b3b3b;
  }
}

.calculate__form-wrap {
  position: relative;
}

.button-calculate {
  display: none;
}

.calculate__button--adult {
  //width: 40%;
  //height: 36px;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.17);
  border-radius: 9px 0 0 9px;
  margin-left: -4px;
  background-color: $purple;
  @include regular_white;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.calculate__button--child {
  margin-left: -4px;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.17);
  border-radius: 0 9px 9px 0;
  background-color: $purple;
  @include regular_white;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.button-toggle_active {
  background-color: $green;
  @include regular_white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.14px;
  font-weight: 400;
  background-image: none;
  color: #ffffff;
  outline: none;
  border: none;
}

.calculate {
  display: flex;
  flex-direction: column;
  background-color: $purple;
  width: 30%;
  position: relative;
  z-index: 3;
  h2 {
    @include h2;
    color: #fff;
  }
}

.calculate__wrap {
  width: 88%;
  margin: 0 auto;
}

.form {
  p {
    @include regular_white;
    margin: 30px 0;
  }
  button {
    @include button-green;
    //@include button-white;
    //background-color: $green;
    margin: 60px 0;
  }
}

.button__wrap {
  margin-bottom: 40px;
}

select {
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.6);
  border-style: solid;
  width: 80%;
  height: 40px;
  color: #ffffff;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

//.select-wrap {
//
//}

#select__inner_child, #select__inner {
  margin-bottom: 60px;
}

//.form > select#select__softy {
//  border-width: 1px;
//  border-color: rgba(255, 255, 255, 0.6);
//  border-style: solid;
//  width: 80%;
//  height: 40px;
//  background-color: $purple;
//  color: #ffffff;
//}

.form > select#select__softy, .form > select#select__softy_child {
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.6);
  border-style: solid;
  width: 80%;
  height: 40px;
  background-color: #596089;
  color: #ffffff;
}

.form__wrap {
  display: flex;
  flex-direction: column;
  p {
    @include regular_white;
    margin: 30px 0;
  }
  span {
    @include regular_white;
  }
}

.radio-wrap__inner {
  display: flex;
  justify-content: space-between;
}

.radio__inner {
  display: flex;
}

.radio-low__wrap {
  display: flex;
  margin: 10px 0;
}

input[type=radio] {
  display: none
}

input[type=radio] + label {
  position: relative;
  display: inline-block;
  padding-left: 0;
  margin-right: 26px;
  cursor: pointer;
  line-height: 16px;
  transition: all .2s ease-in-out;
}

input[type=radio] + label:after, input[type=radio] + label:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 12px;
  height: 12px;
  text-align: center;
  color: #fff;
  font-family: DINPro, sans-serif;
  border-radius: 50%;
  transition: all .3s ease
}

input[type=radio] + label:before {
  box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 16px #FFF, inset 0 0 0 16px $green;
}

input[type=radio] + label:hover {
  color: $green
}

input[type=radio] + label:hover:before {
  animation-duration: .5s;
  animation-name: change-size;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: inset 0 0 0 1px $green, inset 0 0 0 16px $green, inset 0 0 0 16px $green
}

input[type=radio]:checked + label:hover {
  color: $green;
  cursor: default
}

input[type=radio]:checked + label:before {
  animation-duration: .2s;
  animation-name: select-radio;
  animation-iteration-count: 1;
  animation-direction: Normal;
  box-shadow: inset 0 0 0 1px $green, inset 0 0 0 3px $purple, inset 0 0 0 16px $green
}

.why__mobile {
  display: none;
}

.why, .why__mobile {
  background-image: url("../img/bkg2.jpg");
  background-size: cover;
  background-position: center;
  //min-height: 100vh;
  h2 {
    @include h2;
    color: $white;
  }
  p {
    @include regular_white;
    //margin-left: 14%;
    margin-top: 20px;
  }
}

.why__container {
  padding: 7%;
  width: 79%;
  margin: 0 auto;
}

.why-block {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: baseline;
  margin-top: 6%;
  h2 {
    margin: 0;
    text-align: left;
    margin-left: 14%;
  }
}

.why-block__icons {
  flex: 1 1 20%;
  img {
    border-style: none;
    margin-bottom: 20px;
  }
  h2 {
    margin: 0;
  }
  p {
    @include regular_white;
  }
}

//know-how

.know-how {
  background-image: url(../img/bkg3.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  min-height: 100vh;
  h2 {
    @include h2;
    padding-top: 120px;
    margin: 0;
  }
  span {
    @include h2;
    color: $green;
  }
  &__rentganel {
    position: relative;
  }
}

.rentganel {
  display: block;
  position: absolute;
  right: 0;
  margin-right: 100px;
}

.rentganel__text {
  @include regular_white;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  margin-right: 140px;
  margin-top: 25px;
}

.know-how__icon-wrap {
  display: flex;
  justify-content: space-around;
  width: 74%;
}

.know-how__icon-inner {
  display: flex;
  align-items: center;
  flex: 1 1 200px;
  margin-top: 80px;
  margin-bottom: 96px;
  p {
    @include reg;
    padding-left: 5%;
  }
}

.know-how__link {
  display: block;
  @include link;
  padding-bottom: 69px;
  &:hover {
    @include link_hover;
  }
}

//fake_map

.fake-map {
  background-image: url("../img/map.jpg");
  background-position: center center;
  background-size: cover;
  //height: 100vh;
}

.first-map {
  display: none;
}

.green-block {
  width: 40%;
  //height: 100vh;
  background-color: $green;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  button {
    @include button-purple;
    margin-top: 65px;
    margin-bottom: 71px;
    display: block;
    text-decoration: none;
  }
  .green-block__text {
    h2 {
      @include h2;
      color: $white;
      margin-top: 65px;
      margin-bottom: 35px;
    }
    p {
      @include reg;
      color: $white;
      margin: 0;
    }
    h3 {
      @include h3;
      color: $white;
      margin-bottom: 20px;
      margin-top: 0;
    }
  }
}

.purple {
  background-color: $dark-purple;
  min-height: 80vh;
  a {
    @include button-green;
    margin-bottom: 94px;
    margin-top: 64px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
  }
}

.purple-wrap {
  display: flex;
  justify-content: space-between;

  .purple__column {
    padding-right: 6%;
  }

  h2 {
    @include h2;
    color: $white;
    margin-top: 104px;
    margin-bottom: 68px;
  }
  h3 {
    @include h3;
    color: $white;
    margin-bottom: 44px;
    margin-top: 20px;
  }
  p {
    @include regular_white;
    padding-bottom: 20px;
  }
  span {
    color: $green;
  }
}

//slider_img

.slider-img__mobile {
  display: none;
}

.slider-img {
  background-image: url("../img/bkg-slider-img.jpg");
  h2 {
    @include h2;
    padding: 92px 0 46px 0;
    margin: 0;
  }

  h4 {
    @include h4;
    text-transform: uppercase;
  }

  button {
    @include button-green;
    margin-top: 29px;
    margin-bottom: 63px;
  }
}


//feedback

.feedback {
  display: flex;
  max-height: 600px;
  &__text {
    padding-left: 4%;
  }
  &__inner {
    width: 64%;
    //min-height: 100vh;
    background-color: $light-white;
  }
}

.feedback__contacts {
  width: 521px;
  height: 100%;
  //height: 663px;
  background-color: $purple;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  h2 {
    @include h2;
    color: $white;
    margin-top: 70px;
    margin-bottom: 46px;
  }

  h3 {
    @include h3;
    color: $white;
    margin-top: 0;
    margin-bottom: 60px;
  }

  p {
    @include regular_white;
    margin: 0;
    padding: 0;
    margin-top: 60px;
  }

  .connect {
    font-family: "MADEWaffleSoft", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.21px;
    color: #ffffff;
    margin-top: 0;
    text-decoration: none;
    font-size: 21px;
  }
}

.feedback__wrapper {
  padding-left: 17%;
  h2 {
    @include h2;
    margin-top: 70px;
  }

  h3 {
    @include h3;
  }
  p {
    @include reg;
    margin: 50px 0;
  }
  button {
    @include button-green;
    margin-top: 29px;
    margin-bottom: 71px;
  }
}

textarea {
  display: block;
  max-width: 502px;
  width: 84%;
  margin-top: 20px;
  height: 114px;
  padding: 14px 0 0 14px;
  outline: $green;
  border: 1px solid #dedede;
  background-color: transparent;
  @include reg;
  font-size: 16px;
  &:hover, &:checked {
    border: 1px solid $green;
    color: #3b3b33;
    outline: $green;
  }
}

#map {
  display: block;
  width: 100%;
  height: 500px;
}

input {
  height: 42px;
  border: 1px solid #dedede;
  outline: 0;
  width: 40%;
  max-width: 240px;
  padding-left: 14px;
  background-color: transparent;
  &:hover, &:active {
    border: 1px solid $green;
    color: #3b3b33;
    outline: $green;
  }
}

.map img {
  width: 100%;
}

@media (min-width: 1900px) {
  .matress-wrap {
    width: 61%;
  }
}

@media (min-width: 1700px) {

  .header__content {
    h1 {
      margin-top: 150px;
      margin-bottom: 90px;
    }
  }

  span.header__content--feature {
    margin-top: 200px;
  }

  .rentganel {
    margin-right: 250px;
  }

  .rentganel__text {
    margin-right: 300px;
  }

  .container {
    margin: 0 auto;
    width: 80%;
    max-width: 1380px;
  }

  .why__container {
    padding: 6%;
    width: 71%;
  }

  .green-block {
    width: 42%;
  }

  .select-wrap {
    select {
      width: 55%;
    }
  }

  .feedback__container {
    width: 42%;
  }

  .feedback__contacts {
    width: 100%;
  }

  ul.accordion li:hover {
    width: 35%;
  }
  .feedback__text {
    padding-left: 0;
  }
  .feedback__inner {
    width: 58%;
  }
  .know-how {
    min-height: 600px;
  }
  .fake-map {
    min-height: 600px;
  }
  .green-block {
    min-height: 600px;
  }
  ul.accordion li {
    width: 300px;
  }
}

@media (min-width: 1440px) {
  ul.accordion li {
    width: 265px;
  }

}

//@media (min-width: 1120px) {
//  .choose {
//    max-height: 800px;
//  }
//
//}

@media (max-width: 1084px) {

  .matress-wrap {
    width: 100%;
  }

  .choose {
    flex-direction: column;
  }

  .choose__container {
    flex-direction: column;
  }

  .choose__block-wrap {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
  }

  .choose__blocks {
    margin: 86px 0;
    button {
      width: 70%;
    }
    a {
      width: 74%;
    }
    p {
      width: 74%;
    }
  }

  .choose__block {
    margin: 10px 0;
    align-items: center;
    width: 70%;
  }

  .choose__block br:nth-child(1) {
    display: none;
  }

  .choose__matress {
    width: 80%;
    margin: 0 auto;
  }

  .choose__matress-block {
    p {
      margin-top: 20px;
    }
  }

  .choose_matress {
    padding: 0 6%;
  }

  //.choose__block {
  //  align-items: center;
  //  width: inherit;
  //  a {
  //    width: 91%;
  //  }
  //  br:nth-child(1) {
  //    display: none;
  //  }
  //}

  .button-toggle {
    width: 35%;
  }

  .choose {
    position: relative;
    &__popup, &__popup--mobile {
      display: none;
      position: absolute;
      z-index: 4;
      top: 0;
      bottom: 0;
      left: -100%;
      min-height: 100vh;
      height: 100%;
      width: 100%;
    }
  }
  .container__popup {
    background: #fff;
    position: relative;
    margin: 0 auto;
    width: 85%;
    top: 40%;
    bottom: 0;
    h2 {
      color: #3b3b3b;
    }
  }

  .button-calculate {
    display: block;
  }

  .calculate {
    width: 100%;
    position: relative;
  }
  .calculate__wrap {
    width: 80%;
    margin: 0 auto;
  }

  .calculate__button {
    width: 25%;
  }

  .form > select#select__softy, .form > select#select__softy_child {
    width: 70%;
  }

  .select-wrap {
    select {
      width: 70%;
    }
  }

  .form button {
    margin: 60px 0;
  }
}

@media (max-width: 1024px) {
  .contacts__link {
    display: none;
  }

  .green-block__text h2 {
    margin: 0;
  }

  .fake-map__wrap {
    display: block;
  }

  .feedback {
    height: 100%;
  }

  .feedback__container {
    width: 50%;
  }

  .feedback__inner {
    width: 50%;
  }

  .feedback__contacts {
    width: 100%;
  }
}

@media (max-width: 768px) {

  .hero h2 {
    font-size: 21px;
  }

  header img {
    height: 36%;
  }
  .menu {
    margin: 0 auto;
    width: 80%;
    img {
      margin: 0;
    }
    &__inner {
      width: 90%;
      padding: 0 5%;
      img {
        padding-left: 0;
      }
      button {
        display: none;
      }
    }
  }

  .list {
    display: none;
  }

  .contacts {
    display: none;
  }

  .header__content {
    h1 {
      margin-top: 56px;
    }
    p {
      margin-bottom: 46px;
    }
  }

  .header__btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    .button-green {
      width: 60%;
      margin-bottom: 60px;
      min-width: 260px;
    }
  }

  .mobile__menu {
    display: flex;
    align-self: center;
    justify-content: flex-end;
  }

  .bar {
    display: block;
  }

  .header_text-btn {
    flex-direction: column;
    width: 100%;
    button {
      margin-bottom: 40px;
    }
  }

  .header_content h1,
  .header_content span {
    font-size: 27px;
  }

  span.header__content--feature {
    font-size: 12px;
  }
  .button-wrap {
    justify-content: flex-start;
    width: 100%;
  }

  .input_time-number {
    margin-top: 10px;
  }

  .choose__block {
    margin: 10px 0;
    align-items: center;
    width: 100%;
  }

  .calculate__form-wrap {
    width: 100%;
  }

  .form > select#select__softy, .form > select#select__softy_child {
    width: 100%;
  }

  .select-wrap {
    select {
      width: 100%;
    }
  }

  .button-toggle {
    width: 50%;
  }

  .why {
    display: none;
    min-height: 313px;
  }

  .slide {
    display: block;
  }

  .why__mobile {
    display: block;
    padding: 8% 4%;
    h2 {
      font-size: 21px;
      display: block;
    }
    h2:nth-child(1) {
      margin: 50px 0 0 10%;
      padding: 0;
      display: block;
    }
  }

  .why-block {
    //margin-left: 10%;
    display: block;
    justify-content: space-around;
    img {
      margin-bottom: 20px;
      display: block;
    }
    p {
      margin: 30px 0;
      margin-bottom: 0;
      display: block;
    }
  }

  .know-how {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    h2 {
      padding-top: 156px;
      padding-bottom: 30px;
    }
    &__link {
      padding-top: 30px;
    }
  }

  .know-how__icon-wrap {
    display: block;
  }

  .know-how__icon-inner {
    height: 80px;
    margin: 0;
  }

  .know-how__rentganel {
    margin-top: 0;
    margin-bottom: 0;
    flex: 1 1 70px;
  }

  .link {
    display: block;
    padding-top: 60px;
  }

  .know-how__icon-wrap {
    flex-direction: column;
  }

  ul.accordion {
    width: 100%;
  }

  .green-block {
    width: 100%;
    height: 100%;
    background-color: $green;
    position: static;
  }

  .green-block__text {
    width: 80%;
  }

  .first-map {
    display: block;
    background-image: url("../img/map.jpg");
    background-size: cover;
    background-position: right;
    height: 50vh;
    width: 100vw;
  }

  .purple-wrap {
    flex-direction: column;
  }

  .feedback {
    max-height: 100%;
    flex-direction: column;
    &__text {
      margin: 0 auto;
      width: 80%;
    }
    &_contacts {
      align-items: start;
      width: 100%;
    }
    &__container {
      width: 100%;
    }
    &__inner {
      width: 100%;
      button {
        width: 251px;
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0 auto;
      width: 80%;
    }
  }

  .input-wrap {
    input {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px 0;
      width: 80%;
      max-width: 100%;
    }
    input:nth-child(1) {
      margin-bottom: 20px;
    }
  }

  textarea {
    width: 80%;
    background-color: transparent;
  }

  .footer_wrap {
    flex-direction: column;
    justify-content: center;

  }


  //.popup, .popup-payment {
  //  display: none;
  //  position: fixed;
  //  width: 80%;
  //  height: 80%;
  //  left: 50%;
  //  top: 50%;
  //  transform: translate(-50%, -50%);
  //}

  .popup__container {
    padding: 0;
    width: 100%;
    /* height: inherit; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    h2 {
      font-size: 21px;
    }
    button {
      width: 100%;
      align-self: center;
    }
    input {
      width: 100%;
      max-width: 94%;
    }
  }

  .inputs {
    flex-direction: column;
    width: 70%;
  }

  .inputs-wrap {
    flex-direction: column;
  }
}

@media (max-width: 600px) {

  .header__content {
    h1 {
      font-size: 21px;
    }
    span {
      font-size: 21px;
    }
  }
  span.header__content--feature {
    font-size: 12px;
  }
  .know-how h2,
  .green-block .green-block__text h2,
  .purple-wrap h2,
  .feedback__contacts h2,
  .slider-img h2,
  .feedback__wrapper h2 {
    font-size: 21px;
  }

  .choose__blocks button {
    width: 100%;
  }

  //.button-toggle {
  //  width: 50%;
  //}

  .feedback__contacts {
    min-height: 100vh;
    height: 100%;
  }

  .feedback__contacts a {
    @include h3;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .dws-wrapper {
    display: none;
  }

  .hide_me {
    display: none;
  }

  .container__slider {
    width: 95%;
  }

  .slider-img__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    .pic:nth-child(5) {
      margin-bottom: 63px;
    }
    button {
      width: 100%;
    }
  }

  .container__slider h2 {
    margin-left: 8%;
  }

  .pic {
    position: relative;
    z-index: 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    margin: 5px;
    &::before {
      opacity: 0.65;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.5;
      background-color: #fff;
      transition: opacity .5s ease;
      z-index: 1;
    }
  }

  .content_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 83%;
    padding-top: 110px;
    margin: 0 auto;
    z-index: 1;
    h2 {
      padding: 0;
      margin: 40px 0 0 0;
      min-width: 247px;
    }
  }
  .popup-payment {
    height: 90%;
  }
  .popup-payment input {
    width: 100%;
    margin-bottom: 3px;
    height: 22px;
  }
}

@media (max-width: 450px) {

  #button-calculate {
    width: 100%;
  }

  .matress-wrap {
    h2 {
      br:nth-child(2) {
        display: none;
      }
    }
  }

  .choose__blocks {
    a {
      width: 100%;
    }
    p {
      width:100%;
    }
  }

  .rentganel {
    margin-right: 40px;
  }
  .rentganel__text {
    margin-right: 90px;
  }
  .green-block.green-block__text h2 {
    margin-top: 35px;
  }
  .purple-wrap h2 {
    margin-top: 64px;
    margin-bottom: 48px;
  }

  .content_wrap {
    br {
      display: none;
    }
  }

  .why__mobile {
    h2 {
      font-size: 21px;
    }
    h2:nth-child(1) {
      margin: 50px 0 0 10%;
      padding: 0;
    }
  }
  .why-block {
    flex-direction: column;
    align-items: unset;
    //margin-left: 10%;
    img {
      margin-bottom: 20px;
    }
    p {
      margin: 20px 0;
    }
  }

  .green-block {
    button {
      width: 100%;
    }
  }

  .purple button {
    width: 100%;
  }

  .input-wrap {
    input {
      width: 95%;
      max-width: 100%;
      margin: 0;
    }
  }

  textarea {
    width: 95%;
  }

  .feedback__inner button {
    width: 100%;
  }

}

@media (max-width: 375px) {

  .menu {
    margin: 0 auto;
    width: 91%;
    &__img {
      margin: 0;
    }
  }

  .choose__matress {
    width: 100%;
    margin: 0 auto;
  }

  .popup-payment .inputs-wrap {
    display: flex;
    flex-direction: column;
    max-width: 92%;
  }
  .popup__container .inputs-wrap {
    max-width: 92%;
  }
  .container {
    width: 91%;
  }
  .matress-wrap {
    margin: 0 auto;
    width: 91%;
  }
  .calculate__wrap {
    width: 91%;
  }

  .why__mobile h2:nth-child(1) {
    margin: 30px 0 0 4%;
    padding: 0;
  }

  .green-block__text {
    width: 91%;
  }

  .container__slider h2 {
    margin-left: 0;
  }
  .feedback__text {
    margin: 0 auto;
    width: 91%;
  }
  .feedback__wrapper {
    width: 91%;
  }
}


@media (max-width: 340px) {
  .footer-wrap {
    align-items: center;
    justify-content: center;
    padding: 0 3%;
    flex-direction: column;
  }
}


.form-calc {
  z-index: -1;
  opacity: 0;
  top: 0;
  position: absolute;
  transition: all 1s ease;
}

.form-calc_active {
  position: relative;
  z-index: auto;
  opacity: 1;
  transition: all 1s ease;
}

.choose__block br:nth-child(2) {
  display: none;
}